
    <div id="quote" name="quote" class="bg-slate-200 ">
            <div class="flex flex-col content-center h-screen gap-2 md:h-max lg:h-max xl:h-max 2xl:h-max md:flex-row lg:flex-row xl:flex-row 2xl:flex-row place-content-center">
                <div class="w-full h-screen md:h-full lg:h-full xl:h-full 2xl:h-full md:w-1/2 lg:w-1/2 xl:w-1/2 2xl:w-1/2">
                    <div class="flex flex-row content-center place-content-center">
                    <div class="w-full bg-rose-200">dsadasdasdsada</div>
                    </div>
                </div>
                <div class="w-full p-8 md:w-1/2 lg:w-1/2 xl:w-1/2 2xl:w-1/2 ">
                    <div class="flex flex-col gap-2">
                        <div class="text-4xl text-center text-gray-600 md:text-start lg:text-start xl:text-start 2xl:text-start md:text-8xl lg:text-8xl xl:text-8xl 2xl:text-8xl font-vibes">Bride</div>
                        <div class="flex flex-col gap-1 text-center md:text-start lg:text-start xl:text-start 2xl:text-start md:p-2 lg:p-2 xl:p-2 2xl:p-2 md:flex-row lg:flex-row xl:flex-row 2xl:flex-row">
                            <div class="text-2xl md:text-4xl lg:text-4xl xl:text-4xl 2xl:text-4xl font-vibes">dan</div>
                            <div class="text-4xl text-gray-600 md:text-8xl lg:text-8xl xl:text-8xl 2xl:text-8xl font-vibes">Groom</div>
                        </div>
                        <div class="mt-5 text-sm text-justify md:p-8 lg:p-8 xl:p-8 2xl:p-8">"Dan di antara tanda-tanda kekuasaan-Nya ialah Dia menciptakan untukmu isteri-isteri dari jenismu sendiri, supaya kamu cenderung dan merasa tenteram kepadanya, dan dijadikan-Nya diantaramu rasa kasih dan sayang. Sesungguhnya pada yang demikian itu benar-benar terdapat tanda-tanda bagi kaum yang berfikir." (QS. Ar-Rum: 21)</div>
                    </div>
                </div>
            </div>
    </div>
</div>