<!DOCTYPE html>

<html>
  <head>
    <!-- <%- include('partials/head.ejs'); %> -->
    <%- include('header/great-vibes/header.ejs'); %>
    <!--  use this on development -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
      <%- include('components/envelope/great-vibes/envelope.ejs',{ data: envelop, bride: bride, groom: groom, wedding: wedding }); %>
      <%- include('components/quote/great-vibes/quote.ejs'); %>
  </body>
</html>