<!DOCTYPE html>

<html>
  <head>
    <%- include('partials/head.ejs'); %>
  </head>
  <body>
    <div class="container">
      <div class="flex flex-row">
        <div class="col-sm-8 bg-red-900">
            asAsaSAsaSA
        </div>
        <div class="col-sm-8 bg-red-100">
          asAsaSAsaSA
      </div>
      </div>
  </body>
</html>