<div id="envelop" name="envelope" class="fixed top-0 left-0 right-0 w-full h-screen bg-no-repeat bg-cover md:h-screen lg:h-screen xl:h-screen 2xl:h-screen" style='background-image: url("<%= data.background %>")'>
    <div class="flex flex-col content-center h-full text-center place-content-center">
        <div id="envelope-title" name="top" class="text-3xl text-white font-vibes md:text-4xl lg:text-4xl xl:text-4xl 2xl:text-4xl" >The Wedding Of</div>
        <div name="spacer" class="h-2/4"></div>
        <div name="bottom" class="container mx-auto">
            <div class="flex flex-col gap-2 place-items-center">
                <div id="bride-and-groom" name="bride-and-groom" class="text-3xl text-white font-vibes md:text-4xl lg:text-4xl xl:text-4xl 2xl:text-4xl">Groom & Bride</div>
                <div name="wedding-date" class="text-xl text-white font-playfair md:text-3xl lg:text-3xl xl:text-3xl 2xl:text-3xl">21 . 03 . 2024</div>
                <div id="envelope-button" name="button" class="px-3 py-2 text-sm text-white rounded-full md:text-sm lg:text-sm xl:text-sm 2xl:text-sm bg-cyan-800 w-max font-playfair">Buka Undangan</div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        let button = document.querySelector("#envelope-button");
        button.addEventListener("click", function(){
            let element = document.querySelector("#envelop");
            element.classList.add("hidden");
        })
        //see https://javascript.plainenglish.io/animating-text-like-a-pro-with-anime-js-326377b4824e
        const title = document.querySelector('#envelope-title');
        title.innerHTML = title.textContent.replace(/\S/g, "<span class='letter' style='display: inline-block'>$&</span>");
        const brideAndGroom = document.querySelector('#bride-and-groom');
        brideAndGroom.innerHTML = brideAndGroom.textContent.replace(/\S/g, "<span class='letter' style='display: inline-block'>$&</span>");
        
        const titleAnimation = anime.timeline(
            {
                loop: false,
                autoplay: true
            }
        );
        titleAnimation.add({
            targets: 'div .letter',
            scale: [4,1],
            opacity: [0,1],
            easing: "easeOutExpo",
            duration: 2000,
            delay: (el, i) => 100*i,
            endDelay: 1000
        });
});
</script>